* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Mono", monospace;
}
.header {
  width: 100%;
  background: #95f2d9;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.word-display {
  margin-top: 3rem;
  font-size: 80px;
  color: #3b5999;
}
.word-input-box {
  margin-top: 2rem;
}
.word-input {
  padding: 0.5rem;
  width: 300px;
}
.game-info {
  margin-top: 2rem;
  text-align: center;
  font-size: 30px;
}
.time,
.score {
  font-size: 30px;
  padding: 0 1rem;
}
.info {
  color: #41463d;
  margin: 1rem;
}

.button {
  width: 200px;
  height: 35px;
  background-color: #9d8df1;
  color: #fff;
  border: none;
  margin-top: 3rem;
  cursor: pointer;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  border-radius: 10px;
  text-align: center;
}

.loading {
  background: #ccc;
  cursor: not-allowed;
}
